{% extends 'layout.html'%}

{% block title %}{{ title }}{% endblock %}

{% block style %}
<style>
    .form-search {
        width: 500px;
        display: inline-block;
    }

    .page {
        min-height: 680px;
    }

    .form-search .search-query {
        padding-left: 40px;
    }

    .movieList {
        margin-top: 20px;
    }
</style>
<link href="/stylesheets/page.css" rel="stylesheet">
{% endblock %}

{% block content %}
<a href="/movie/add" class="btn btn-info ">新增</a>
<form class="form-search search-only" action="/movie/search" id="movie-search" method="movie-search">
    <i class="search-icon glyphicon glyphicon-search"></i>
    <input type="text" class="form-control search-query" name="name">
    <input type="submit" style="display: none;">
</form>

<div class="movieList">
    {% include "movie.html"%}
</div>
{% endblock %}

{% block script %}
<script src="/javascripts/bootstrap-paginator.js"></script>
<script>

    var page = $('#page1'),
            pageNum = page.attr("pageNum"),
            totalPage = page.attr("pageCount");

    var options = {
        currentPage: pageNum,
        totalPages: totalPage,
        numberOfPages: totalPage == 1 ? 0 : 4,
        pageUrl: function (type, page, current) {
            return "/?p=" + page;
        }
    }

    $('#page1').bootstrapPaginator(options);


    $("#movie-search").submit(function () {
        var $this = $(this);
        $.ajax({
            type: "post",
            url: $this.attr("action"),
            data: $this.serialize(),
            success: function (data) {
                $("#movielist").html(data);
            }
        })


        return false;
    })
</script>

{% endblock %}
