<!DOCTYPE html>
<html>
    <head>
        <title><%= title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
         <%- include head%>
        <%if(success){%>
            <div><%=success%></div>
        <%}%>
    </body>
</html>