<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootflat.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
{% include "head.html" %}

<div class="container page">
    {% if success %}
    <div class="alert alert-success">{{ success }}</div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% block content %}
    missing content
    {% endblock %}
</div>

{% include "footer.html" ignore missing %}

<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script>
    setTimeout(function () {
        $(".alert-success").hide();
    }, 3000)

</script>
{% block script%}{% endblock %}
</body>
</html>