{% extends "layout.html"%}

{% block style%}
<style>
    .btn {
        margin-top: 10px;
    }
</style>
{% endblock%}

{%block content%}

<h2>{{ movie.name }}</h2>

{% autoescape %}
<p>{{ movie.content }}</p>
{%endautoescape%}

<img src="{{ movie.image }}" style="width:200px;height:200px;">

<form action="/comment/add" method="post" class="movie-comment-form">
    <textarea name="connect" class="form-control" placeholder="这里可以添加您的评论"></textarea>
    <input type="hidden" value="{{ movie.id }}" name="movieid">
    <input type="submit" value="提交" class="btn btn-info">
</form>
<div id="comment-list">

</div>
{%endblock%}

{% block script%}
<script>
    $.ajax({
        url: "/comment/{{ movie.id }}",
        type: "get",
        success: function (data) {
            $("#comment-list").html(data);
        }
    });
</script>
{% endblock %}