
{% extends 'layout.html'%}

{% block title %}{{ title }}{% endblock %}

{% if error%}
      <div>{{ error }}</div>
{% endif %}

{% block content %}
    <form action="/reg" method="post" class="minH600 ml40" >
        <ul>
            <li>
                <label>昵称：</label>
                <input type="text" name="name" class="form-control" placeholder="请输入用户名">
            </li>
            <li>
                <label>密码：</label>
                <input type="password" name="password" class="form-control" placeholer="请输入密码">
            </li>

        </ul>
        <div class="ml40">
            <input type="submit" class="btn btn-info" value="确定">
            <a href="/login" class="btn btn-default link">登陆</a>
        </div>
    </form>
{% endblock %}