
ul,li{list-style: none;}
.minH600{min-height: 600px;}
.ml40{margin-left:40px;}
.navbar-header .header-icon {
    line-height: 40px;
    font-size: 20px;
}

.nav-text {
    line-height: 40px;
}
.has-error{border-color:#da4453; }
.footer{color:#fff;}